.bg-color {
  background-color: blueviolet;
  max-width: 100vw;
  z-index: 99;
}

html {
  background-color: blueviolet;
}


.output {
  background-color: white;
}
.markdown {
  padding: 16px;
  border: 15x solid;
  border-radius: 10px;
  width: 95%;
  min-height: 80vh;
  resize: none;
  overflow-x: hidden;
  outline: none !important;
  background: #ffffff;
}




#editor, .output {
  
    min-height: 80vh;
    border-radius: 5px;
    padding: 10px;
    width: 500px;

  
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

