@media (max-width: 800px) {

  #move {
    margin-top: 10%;
  }
}


.bg-color {
  background-color:  #dee2e6ff;
  max-width: 100vw;
  z-index: 99;
}


.nav-color {
background-color: #ced4daff;

}
.output {
  background-color: #ffffffff;
}
.markdown {
  padding: 16px;
  border: 15x solid;
  border-radius: 10px;
  width: 95%;
  min-height: 80vh;
  resize: none;
  overflow-x: hidden;
  outline: none !important;
  background: #ffffff;
}




#editor, .output {
  
    min-height: 80vh;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    background-color: #ffffffff;

  
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

